img {
    
    width: 700px;
    height: 500px;
    text-align: center;
    margin-inline-end: 100px;
    border: 2px solid black;

}
button {

    background-color: rgba(32, 124, 216, 0.6);
    color: rgb(255, 255, 255); 
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    width: 100px; 
    padding: 5px;
    margin-left: 8.5%;
    
}

section {
    margin-top: 0%;
    margin-left: 25%;
}